@media (max-width: 500px) {
    .about-column {
        padding: 0.5rem;
    }
    .mode-wrapper {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
    }

    .gamemode-card {
        width: 12rem;
        aspect-ratio: 1;
    }

    .gamemode-text {
        padding-inline: 0.5rem;
        & .mode-naslov {
            font-size: 1rem;
        }
        & .mode-text {
            font-size: 0.7rem;
            text-wrap: pretty;
        }
    }

    .pc-nav {
        display: none;
    }

    .barbtn {
        width: 60px;
        height: 60px;
        position: fixed;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        border: 3px solid white;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        z-index: 105;

        & span {
            background: white;
            display: block;
            position: absolute;
            transition: all 200ms ease;

            &:nth-child(1) {
                top: 50%;
                left: 0;
                width: 20px;
                height: 2px;
                transform: translateY(-50%);
            }

            &:nth-child(2) {
                top: 0;
                left: 50%;
                width: 2px;
                height: 20px;
                transform: translateX(-50%);
            }

            &:nth-child(3) {
                top: 50%;
                right: 0;
                width: 20px;
                height: 2px;
                transform: translateY(-50%);
            }

            &:nth-child(4) {
                bottom: 0;
                left: 50%;
                width: 2px;
                height: 20px;
                transform: translateX(-50%);
            }

            &.pressed:nth-child(1) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &.pressed:nth-child(3) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    .mobile-nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(20px);
        z-index: 100;
        transition: left 200ms ease;

        &.mob-active {
            left: 0;
        }

        & .mobile-link {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 2rem;
            font-size: 1.5rem;
            background: none;
            border: none;
        }

        & .mob-drop {
            display: flex;
            flex-direction: column;
            height: 0;
            scale: 0;
            opacity: 0;
            transition: all 200ms ease;

            &.mob-open {
                scale: 1;
                opacity: 1;
                height: auto;
            }
        }
    }
}
